<div class="banner">


  <div class="container">
    <h1>All my Lists</h1>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-gradient" %>
  </div>
</div>

<div class="m-5">
  <div class="container">
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col">
          <%= link_to list_path(list) do %>
            <div class="card mb-2" style="width: 18rem;">
              <%# <img src="..." class="card-img-top" alt="..."> %>
              <div class="card-body">
                <h5 class="card-title"><%= list.name %></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
